hr{
    border-style: dotted none none ;
    border-color:grey;
    border-width:5px;

    height:2px;
    width:5%;
  }

  body
    {
      
      background-color:#c6cbef;
    }
    h1{
      color:blue;
    }
